inc/
MANIFEST
*.bak
*.old
nytprof.out
.sass-cache/
Entries.Log
nytprof/
db/
*.sw[pomn]

/.carmel/
/local/
/data/recent.pl
/data/index-module.pl
/data/index-article.pl
/static/docs.json
/static/rss/
xtc/
functions.txt
/worker/.dev.vars
/worker/.wrangler/
/worker/node_modules/
gha-creds-*.json
