Makefile
inc/
MANIFEST
*.bak
*.old
nytprof.out
.sass-cache/
assets/index-module.pl
Entries.Log
nytprof/
db/
*.sw[pomn]

/.carmel/
/local/
/data/recent.pl
/data/years.pl
/static/docs.json
/static/rss/
functions.txt
