@import url(../prettify/prettify.css);
/* ----------------------------------------------- */
/* sites css                                       */
/* ----------------------------------------------- */
/* line 29, ../../scss/main.scss */
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/* line 34, ../../scss/main.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}
/* line 37, ../../scss/main.scss */
a, a:visited, a:active {
  color: #607890;
}
/* line 40, ../../scss/main.scss */
a:hover {
  color: #036;
}

/* line 45, ../../scss/main.scss */
body {
  background: white;
}

/* line 49, ../../scss/main.scss */
#Container {
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
}

/* line 58, ../../scss/main.scss */
.header .SiteLogo {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
}

/* line 65, ../../scss/main.scss */
.nav {
  background-color: #777;
  height: 30px;
  font-weight: bold;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 71, ../../scss/main.scss */
.nav ul {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 5px 0 0 10px;
  list-style: none;
  line-height: normal;
  float: left;
}
/* line 82, ../../scss/main.scss */
.nav ul li {
  float: left;
  display: block;
  margin-left: 5px;
}
/* line 86, ../../scss/main.scss */
.nav ul li a {
  display: block;
  float: left;
  margin-right: 5px;
  padding: 0px 15px;
  text-decoration: none;
  color: whiteSmoke;
}
/* line 93, ../../scss/main.scss */
.nav ul li a:visited {
  color: whiteSmoke;
}
/* line 96, ../../scss/main.scss */
.nav ul li a:hover {
  text-decoration: underline;
  color: whiteSmoke;
}
/* line 104, ../../scss/main.scss */
.nav #GoogleSearch {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

/* line 112, ../../scss/main.scss */
.footer {
  margin-top: 10px;
  border-top: #cccccc 1px solid;
  font-size: x-small;
  text-align: right;
  clear: both;
}

/* line 120, ../../scss/main.scss */
#content {
  margin-top: 10px;
  margin-left: 20px;
}
/* line 123, ../../scss/main.scss */
#content .about {
  font-size: small;
  margin-bottom: 20px;
}

/* line 127, ../../scss/main.scss */
.PodPage .PodInfo {
  float: right;
  text-align: right;
  overflow: visible;
}
/* line 132, ../../scss/main.scss */
.PodPage .PodInfo .OtherVersions {
  margin-top: 20px;
}
/* line 137, ../../scss/main.scss */
.PodPage .BreadList {
  margin-bottom: 10px;
  float: left;
}
/* line 142, ../../scss/main.scss */
.PodPage .PodBody {
  clear: left;
}
/* line 145, ../../scss/main.scss */
.PodPage .PodBody ul.pod_toc {
  list-style: none;
  margin-bottom: 10px;
}
/* line 149, ../../scss/main.scss */
.PodPage .PodBody ul.pod_toc ul {
  list-style: none;
  margin: 0;
}
/* line 156, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body div.original {
  display: none;
}
/* line 158, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body a.toc_link {
  color: white;
}
/* line 161, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body a.toc_link:hover {
  color: #eccc01;
}
/* line 166, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body .toc_link {
  text-decoration: none;
  font-size: 70%;
  vertical-align: top;
}
/* line 172, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body pre {
  background-color: white;
  border: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 187, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 188, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body h2 {
  font-size: 1.8em;
  margin-bottom: 0.75em;
}
/* line 189, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 190, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 191, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 192, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 193, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body p {
  margin-left: 10px;
}
/* line 196, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body ul {
  margin-left: 20px;
}
/* line 199, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body dl {
  margin-left: 30px;
}
/* line 202, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body dt {
  margin-top: 10px;
}
/* line 205, ../../scss/main.scss */
.PodPage .PodBody .pod_content_body dd {
  margin-left: 30px;
}

/* line 213, ../../scss/main.scss */
.DirectoryIndexContainer h1 {
  font-size: 120%;
  font-weight: bold;
}

/* line 220, ../../scss/main.scss */
.IndexModuleContent .old {
  color: red;
}
/* line 221, ../../scss/main.scss */
.IndexModuleContent .fresh {
  color: green;
}
/* line 222, ../../scss/main.scss */
.IndexModuleContent .oldVersionInfo {
  padding-left: 10px;
  font-size: x-small;
}

/* line 228, ../../scss/main.scss */
.alert {
  color: red;
  font-size: 150%;
  font-weight: bold;
}

/* media queries for iPhone */
@media screen and (max-device-width: 480px) {
  /* line 232, ../../scss/main.scss */
  #Container {
    width: 100%;
    line-height: 1.5em;
    word-wrap: break-word;
  }

  /* line 237, ../../scss/main.scss */
  #content {
    margin-left: 2px;
  }
  /* line 239, ../../scss/main.scss */
  #content .about {
    font-size: normal;
    margin-bottom: 20px;
  }

  /* line 241, ../../scss/main.scss */
  pre {
    overflow: auto;
  }

  /* line 242, ../../scss/main.scss */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }

  /* line 244, ../../scss/main.scss */
  nav #GoogleSearch {
    display: none;
  }

  /* line 249, ../../scss/main.scss */
  .IndexModuleContent .old {
    display: block;
  }
  /* line 250, ../../scss/main.scss */
  .IndexModuleContent .fresh {
    display: block;
  }

  /* line 253, ../../scss/main.scss */
  .PodPage .PodInfo {
    display: none;
  }
  /* line 256, ../../scss/main.scss */
  .PodPage .PodBody {
    clear: both;
  }

  /* line 260, ../../scss/main.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }
}
