@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../../scss/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../../scss/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../../scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../../scss/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../../scss/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../../scss/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../../scss/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../../scss/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../../scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 22, ../../scss/_vars.scss */
.margin, p {
  margin: 0 0 1.6em 0;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 1, ../../scss/_basic.scss */
  html {
    font-size: 90%;
  }
}

/* line 7, ../../scss/_basic.scss */
body {
  font-family: "Lucida Grande", Arial, sans-serif;
  line-height: 1.6;
  color: #333333;
  background: #eee;
}

/* line 14, ../../scss/_basic.scss */
a {
  text-decoration: none;
  color: #006699;
}
/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #2e576b;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #006699;
}
/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #006699;
}

/* line 19, ../../scss/_basic.scss */
pre, code, kbd, samp {
  font-family: "Monaco", "Consolas", "Courier", monospace;
  line-height: 1.4;
}

/* line 24, ../../scss/_basic.scss */
pre {
  margin: 1.6em 0;
}

/* line 32, ../../scss/_basic.scss */
dd {
  margin: 0 0 0 1.6em;
}

/* line 2, ../../scss/_class.scss */
.header {
  background: #006699;
  padding: 5px 7.292%;
}
/* line 5, ../../scss/_class.scss */
.header .SiteLogo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
  text-shadow: black 0px 1px 1px;
  letter-spacing: 0.05em;
}

/* line 15, ../../scss/_class.scss */
.nav {
  background: #222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111111), color-stop(50%, #222222), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#111111, #222222, #222222);
  background-image: -moz-linear-gradient(#111111, #222222, #222222);
  background-image: -o-linear-gradient(#111111, #222222, #222222);
  background-image: -ms-linear-gradient(#111111, #222222, #222222);
  background-image: linear-gradient(#111111, #222222, #222222);
  padding: 10px 7.292%;
  -webkit-box-shadow: #888888 0px 3px 7px;
  -moz-box-shadow: #888888 0px 3px 7px;
  box-shadow: #888888 0px 3px 7px;
  font-size: 90%;
}
/* line 21, ../../scss/_class.scss */
.nav ul {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
}
/* line 25, ../../scss/_class.scss */
.nav ul li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
}
/* line 29, ../../scss/_class.scss */
.nav ul li a {
  color: white;
}
/* line 34, ../../scss/_class.scss */
.nav form {
  position: absolute;
  right: 7.292%;
  top: 10px;
}

/* line 42, ../../scss/_class.scss */
#main {
  padding: 2em 7.292%;
  position: relative;
}

/* line 47, ../../scss/_class.scss */
#content {
  background: #fff;
  padding: 1.6em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 5px solid #e1e1e1;
}

/* line 54, ../../scss/_class.scss */
.footer {
  background: #222222;
  padding: 3em;
  text-align: center;
  color: #fff;
}

/* line 61, ../../scss/_class.scss */
.PodInfo {
  font-size: 80%;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
}

/* line 69, ../../scss/_class.scss */
.PodPage .PodBody .pod_content_body div.original {
  display: none;
}

/* line 73, ../../scss/_class.scss */
.pod_toc {
  float: right;
  width: 26.042%;
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
  padding: 1em 2em;
  margin: 1em 2em;
}
@media only screen and (max-width: 320px) {
  /* line 73, ../../scss/_class.scss */
  .pod_toc {
    float: none;
    margin: 0;
    width: 100%;
  }
}

/* line 87, ../../scss/_class.scss */
h1, h2, h3, h4, h5, h6 {
  text-shadow: white 0px 1px 1px;
}
/* line 89, ../../scss/_class.scss */
h1 .toc_link, h2 .toc_link, h3 .toc_link, h4 .toc_link, h5 .toc_link, h6 .toc_link {
  font-weight: normal;
  font-size: 11px;
  display: none;
}
/* line 95, ../../scss/_class.scss */
h1:hover .toc_link, h2:hover .toc_link, h3:hover .toc_link, h4:hover .toc_link, h5:hover .toc_link, h6:hover .toc_link {
  display: inline;
}

/* line 1, ../../scss/_prettify.scss */
.str {
  color: #080;
}

/* line 2, ../../scss/_prettify.scss */
.kwd {
  color: #008;
}

/* line 3, ../../scss/_prettify.scss */
.com {
  color: #800;
}

/* line 4, ../../scss/_prettify.scss */
.typ {
  color: #606;
}

/* line 5, ../../scss/_prettify.scss */
.lit {
  color: #066;
}

/* line 6, ../../scss/_prettify.scss */
.pun {
  color: #660;
}

/* line 7, ../../scss/_prettify.scss */
.pln {
  color: #000;
}

/* line 8, ../../scss/_prettify.scss */
.tag {
  color: #008;
}

/* line 9, ../../scss/_prettify.scss */
.atn {
  color: #606;
}

/* line 10, ../../scss/_prettify.scss */
.atv {
  color: #080;
}

/* line 11, ../../scss/_prettify.scss */
.dec {
  color: #606;
}

/* line 21, ../../scss/_prettify.scss */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style: none;
}

/* line 26, ../../scss/_prettify.scss */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}

@media print {
  /* line 29, ../../scss/_prettify.scss */
  .str {
    color: #060;
  }

  /* line 30, ../../scss/_prettify.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 34, ../../scss/_prettify.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 38, ../../scss/_prettify.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 42, ../../scss/_prettify.scss */
  .lit {
    color: #044;
  }

  /* line 43, ../../scss/_prettify.scss */
  .pun {
    color: #440;
  }

  /* line 44, ../../scss/_prettify.scss */
  .pln {
    color: #000;
  }

  /* line 45, ../../scss/_prettify.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 49, ../../scss/_prettify.scss */
  .atn {
    color: #404;
  }

  /* line 50, ../../scss/_prettify.scss */
  .atv {
    color: #060;
  }
}
