/*
Syntax error: File to import not found or unreadable: responsive.
              Load paths:
                /Users/nagayama/git/PJP/scss
                /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets
                /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 12 of /Users/nagayama/git/PJP/scss/screen.scss

Backtrace:
/Users/nagayama/git/PJP/scss/screen.scss:12
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/import_node.rb:64:in `import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:149:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:20:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:29:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:41:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:28:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:49:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:20:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/engine.rb:308:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.104/lib/sass/../sass/engine.rb:255:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:95:in `perform'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:39:in `delete'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:32:in `deleted'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:31:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:31:in `deleted'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:16:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:29
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:43:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:43
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: responsive.\A               Load paths:\A                 /Users/nagayama/git/PJP/scss\A                 /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets\A                 /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 12 of /Users/nagayama/git/PJP/scss/screen.scss"; }
