[% WRAPPER 'layout.html' WITH title = '404 Not Found' %]
[% IF is_hash_ref(message) && message.package %]
   [% message.package %]はみつかりませんでした。
   <div>
   <a href="http://search.cpan.org/dist/[% message.package.replace('::','-') %]">CPANで見る</a><br />
   <a href="http://metacpan.org/module/[% message.package %]">MetaCPANで見る</a>
   </div>
[% ELSE %]
   [% message || '該当のページは見つかりませんでした。' %]
[% END %]
[% END %]
