[% WRAPPER 'layout.html' WITH top_page = 1 %]

<p>
このサイトは Perl の公式ドキュメント、モジュールを日本語翻訳したものを表示するサイトです。<br />
</p>

<h2>最近の更新</h2>
CVS及びgitのcommitログから取得していますので、翻訳者とcommitした人が違う場合があります。
<ul>
[% FOREACH module IN recent %]
<li>[% module.date %] <a href="[% module.path %]">[% module.name %]</a> by [% module.author %]</li>
[% END %]
</ul>

[% END %]